/************************
* Fonts
************************/

/* Poppins */
@import url('https://fonts.googleapis.com/css?family=Poppins:400,700');

/************************
* Global Variables
************************/

:root {
  --global-font: 'Poppins', sans-serif;
  --blue: #15A8DB;
  --black: #1D1E1F;
  --gray-med: #777879;
  --gray-lt: #D2D2D2;
}

/************************
* Highlight Color
************************/

::selection {
  color: white;
  background: var(--blue);
}

/************************
* Typography
************************/

/* Poppins Font */
@import url('https://fonts.googleapis.com/css?family=Poppins:400,700');

body {
  font-family: var(--global-font);
  font-size: 1rem;
  font-weight: 400;
  color: var(--black);
}

.reveal h1,
.reveal h2,
.reveal h3,
.reveal h4,
.reveal h5,
.reveal h6 {
  font-family: var(--global-font);
  font-weight: 700;
  line-height: 1.15;
  margin: 0 0 .2em 0;
  color: var(--black);
}

.reveal h1 { font-size: 100px; }
.reveal h2 { font-size: 50px; }
.reveal h3 { font-size: 25px; }
.reveal h4 { font-size: 18px; }
.reveal h5 { font-size: 16px; }

/* Helper Classes */
.reveal .muted {
  color: var(--gray-med);
}

.reveal .all-caps {
  text-transform: uppercase;
  letter-spacing: .04em;
}

.reveal .m-0 {
  margin: 0;
}

/************************
* Sponsor Footer
************************/

.reveal .sponsor-footer {
  grid-area: footer;
  align-self: end;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 100px 50px 50px 0;
}

.reveal .sponsor-footer__title {
  margin-right: 25px;
}

.reveal .sponsor-footer__logo {
  max-width: 220px;
  max-height: 120px;
}

.reveal .sponsor-footer__logo-divider {
  margin: 0 20px;
}

/************************
* Intro Layout
************************/

.reveal section.intro {
  display: grid !important;
  grid-template-columns: 400px 1fr;
  grid-template-rows: 1fr auto;
  grid-gap: 0 100px;
  grid-template-areas:
    "sidebar body"
    "sidebar footer";
  height: 100%;
  width: 100%;
  padding: 0;
  text-align: left;
}

.reveal .intro-sidebar {
  grid-area: sidebar;
  display: grid;
  grid-template-rows: min-content;
  padding: 220px 50px 75px 50px;
  border-right: 2px solid var(--gray-lt);
}

.reveal .intro-sidebar__logo {
  align-self: end;
  margin: 0 auto;
}

.reveal .intro-body {
  grid-area: body;
  padding: 200px 100px 0 0;
}

/* Date List */
.reveal .date-list__item {
  display: grid;
  grid-template-columns: 2ch 1fr;
  grid-template-rows: min-content;
  grid-gap: 0 20px;
  grid-template-areas:
    "date body"
    "date body";
    margin-bottom: 50px;
}

.date-list__date {
  grid-area: date;
  margin-bottom: 5px;
  text-align: right;
  text-decoration: none;
}

/* Past Event Modifier */
.date-list__item--past {
  opacity: .5;
}

/* Current Event Modifier */
.date-list__item--current .date-list__date span {
  color: var(--blue);
  border-bottom: 4px solid var(--blue);
}

/************************
* Panel Layout
************************/

.panel {
  --image-size: 200px;
  --item-spacing: 80px;
}

.reveal section.panel {
  display: grid !important;
  grid-template-rows: min-content 1fr min-content;
  grid-template-areas:
    "header"
    "panel"
    "footer";
  height: 100%;
  width: 100%;
  padding: 75px 0 0 100px;
  box-sizing: border-box;
  text-align: left;
}

/* Header */
.reveal .panel-header {
  grid-area: header;
}

.reveal .panel-header__date {
  margin-bottom: 20px;
}

/* List */
.reveal .panel-list {
  grid-area: panel;
  align-self: center;
  display: flex;
  list-style-type: none;
}

.reveal .panel-list__item {
  position: relative;
  margin-right: var(--item-spacing);
}

.reveal .panel-list__item:last-of-type {
  margin-right: 0;
}

.reveal .plus-icon::before {
  content: '';
  position: absolute;
  top: calc(var(--image-size) / 2 - 10px);
  left: calc(-1 * var(--item-spacing) / 2 - 10px);
  width: 20px;
  height: 20px;
  background-image: url("data:image/svg+xml,%0A%3Csvg width='20px' height='20px' viewBox='0 0 20 20' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cg id='Concepts' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cg id='Panel-Slide-Concept' transform='translate(-1241.000000, -589.000000)' fill='%2315A8DB' fill-rule='nonzero'%3E%3Cpath d='M1253,597 L1261,597 L1261,601 L1253,601 L1253,609 L1249,609 L1249,601 L1241,601 L1241,597 L1249,597 L1249,589 L1253,589 L1253,597 Z' id='Plus-Icon'%3E%3C/path%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

.reveal .panel-list__img {
  width: var(--image-size);
  height: var(--image-size);
  margin-bottom: 20px;
  border-radius: 5px;
}
